@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    color: #080808;
}

/* header, main image and nav bar*/


h1,
h2,
h3 {
    font-family: Manrope, sans-serif;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 3px;
    color: #080808;
}

#title {
    font-size: 300%;
    text-decoration: none;
    margin-top: 20px;
}

header a {
    text-decoration: none;
}

#navbar,
#title {
    line-height: 50px;
}

#navbar {
    margin-top: 20px;
    margin-right: 40px;
    letter-spacing: 3px;
    display: inline;
    font-size: 120%;

}

#navbar li {
    list-style-type: none;
    text-align: center;
    float: right;
    margin-right: 50px;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    color: #ff8080;
}

#main-image {
    height: 350px;
    width: 100%;
    background: url(../images/Jan_Matejko\,_Bitwa_pod_Grunwaldem.jpg) no-repeat center center;
}

/* first section */

#first-section {
    height: 300px;
}

#left-center {
    width: 33%;
    float: left;
}

#right-center {
    height: 80%;
    width: 50%;
    float: right;
    background: url(../images/location\ Grunwald.jpg) no-repeat center center;
    margin-left: 15px;
    background-position: right;
}

#battle-location {
    float: right;
    color: #080808;
}


/* second section */

#second-section {
    height: 300px;
}

#left-bottom {
    width: 33%;
    float: right;
    margin-bottom: 300px;
}

/* footer and socials */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.social-name {
    text-align: left;
}

.social-name li {
    display: inline-block;
}

.social-name i {
    font-size: 160%;
    margin: 50px;
    padding: 5%;
    color: #080808;
}