@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    color: #080808;
    background-color: rgba(152, 152, 152, 0.3);
}

p {
    margin-bottom: 5px;
    text-align: center;
}

/* header, main image and nav bar*/

h1,
h2,
h3 {
    font-family: Manrope, sans-serif;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 3px;
    color: #080808;
    padding-bottom: 10px;
}

.title {
    font-size: 300%;
    text-decoration: none;
    margin-top: 20px;
}

header a {
    text-decoration: none;
}

.title {
    line-height: 40px;
}

.navbar {
    margin-top: 20px;
    margin-right: 40px;
    letter-spacing: 3px;
    display: inline;
    font-size: 120%;
}

.navbar li {
    list-style-type: none;
    text-align: center;
    float: right;
    margin-right: 50px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar a:hover {
    color: #ff8080;
}

.active,
a:hover {
    text-decoration: underline;
}

.main-image {
    height: 300px;
    width: 100%;
    background: url(../images/Jan_Matejko\,_Bitwa_pod_Grunwaldem.jpg) no-repeat center center;
    border-radius: 5px;
    margin-top: 20px;
}

/* first section Index.html */

.ind-main-section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "events march"
        "battle victory";
    padding: 0 2rem;
    column-gap: 20px;
    row-gap: 20px;
    border-radius: 5px;
    font-size: 1.25em;
    margin-top: 10px;
}

#events {
    grid-area: events;
}

#march {
    grid-area: march;
}

#battle {
    grid-area: battle;
}

#victory {
    grid-area: victory;
}

.ind-left-div {
    width: 100%;
    border: ridge 10px rgba(242, 38, 19, 0.8);
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}

.ind-right-div {
    width: 100%;
    border: ridge 10px rgba(242, 38, 19, 0.8);
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
}

.battle-img {
    height: 300px;
    width: 300px;
    float: left;
    padding-right: 10px;
}

.second-section {
    height: 300px;
}

.left-bottom {
    width: 33%;
    float: right;
    margin-bottom: 300px;
}

/* glossary.html content */

.gl-main-section {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "wlad vyat ulri"
        "swords swords know";
    padding: 0 2rem;
    column-gap: 20px;
    row-gap: 20px;
    border-radius: 5px;
    font-size: 1.25em;
    margin-top: 30px;
}

#wlad {
    grid-area: wlad;
    width: 100%;
    box-sizing: border-box;
}

#vyat {
    grid-area: vyat;
    width: 100%;
    box-sizing: border-box;
}

#ulri {
    width: 100%;
    grid-area: ulri;
    box-sizing: border-box;
}

#swords {
    width: 100%;
    grid-area: swords;
    box-sizing: border-box;
}

#know {
    grid-area: know;
    width: 100%;
    box-sizing: border-box;
}

.left-div-gl {
    border: ridge 10px rgba(242, 38, 19, 0.8);
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.center-div-gl {
    border: ridge 10px rgba(242, 38, 19, 0.8);
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.swords-content {
    width: 50%;
    padding: 15px;
}

.right-div-gl {
    border: ridge 10px rgba(242, 38, 19, 0.8);
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.right-div-gl h3 {
    padding-top: 5px;
}

.right-div-gl p {
    padding-top: 15px;
}

.sub-head {
    font-size: 2rem;
    margin-top: 15px;
}

.leaders-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.swords_img {
    width: 100%;
    height: auto;
}

/* contact and questionnaire */

h5 {
    text-decoration: underline;
    text-align: center;
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.form-div {
    padding: 1em 1em;
    margin: 20px auto;
    border: solid 1px #080808;
    border-radius: 6px;
    line-height: 45px;
    background-color: #989898;
    width: min(600px, 80%);
    height: auto;
}

input[type="submit"] {
    color: #ffffff;
    border-radius: 6px;
    background-color: #080808;
    width: 100px;

}

input[type="reset"] {
    width: 75px;
}


label {
    width: 150px;
    float: left;
}

input {
    width: 150px;
    border: solid 1px #080808;
    padding: 5px;
}

.right-div {
    border-radius: 6px;
    text-align: center;
    width: 100%;
}

#form {
    width: 100%;
}

#vid {
    width: min(850px, 80%);
    margin: 0 auto;
}

/* https://avexdesigns.com/blog/responsive-youtube-embed */

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* end of code from avexdesigns */

.form-flex {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

/* footer and socials */

footer {
    height: 150px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.social-name {
    text-align: center;
    margin-top: 5%;
}

.social-name li {
    display: inline-block;
}

.social-name i {
    font-size: 160%;
    margin: 50px;
    padding: 5%;
    color: #080808;
    margin-bottom: 60px;
}

.footer-img {
    background: url(../images/historic-battle-of-grunwald-Žalgirio-mūšis-lithuania-wallpaper.jpg) no-repeat center center;
    width: 100%;
    border-radius: 6px;
}

/* Responsive Media Queries */


@media screen and (max-width: 1450px) {
    .gl-main-section {
        grid-template-areas:
            "wlad vyat"
            "swords swords"
            "ulri know";
    }
}

@media screen and (max-width: 930px) {
    .center-div-gl {
        flex-direction: column;
    }

    .swords-content {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .gl-main-section {
        grid-template-areas:
            "wlad"
            "vyat"
            "swords"
            "ulri"
            "know";
    }
}

@media screen and (max-width: 800px) {
    .main-image {
        height: 300px;
        width: 100%;
        background: url(../images/Jan_Matejko\,_Bitwa_pod_Grunwaldem-mobile.jpg) no-repeat center center;
        border-radius: 5px;
        margin-top: 20px;
    }
    .footer-img {
        background: url(../images/historic-battle-of-grunwald-Žalgirio-mūšis-lithuania-wallpaper-mobile.jpg) no-repeat center center;
    }
    
}

@media screen and (max-width: 768px) {
    .ind-main-section {
        grid-template-areas:
            "events"
            "march"
            "battle"
            "victory";
        padding: 0 1rem;
        column-gap: 16px;
        row-gap: 20px;
        border-radius: 5px;
        font-size: 1em;
        margin-top: 10px;
    }
}

@media screen and (max-width: 640px) {
    .social-name {
        text-align: center;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 67px;
    }

    .social-name i {
        margin: 0;
        padding: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    .battle-img {
        display: block;
        height: 230px;
        width: 270px;
        padding-right: 0;
    }

    .navbar {
        margin-right: 0;
        display: block;
    }

    .navbar>ul {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
    }

    .navbar li {
        margin-right: 0;
    }
}

@media screen and (max-width: 504px) {
    .gl-main-section {
        font-size: 1.25em;
    }
}

@media screen and (max-width: 440px) {
    .gl-main-section {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 320px) {
    .form-div {
        width: auto;
    }
}